<header class="flex justify-between items-center p-3 px-6 h-[10vh] w-full">
  <div class="">
    <a class="text-2xl font-bold text-[--main-text]">Yender</a>
  </div>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.linkedin.com/in/yender-rodriguez-470b6726b/"
  >
    <div class="border_animation rounded-full">
      <span>
        <h2 class="font-medium text-sm text-[#ddd]">Open to Work</h2>
      </span>
    </div>
  </a>
</header>
<style>
  .border_animation {
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-text);
  }
  .border_animation::before {
    content: "";
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      var(--main-color)
    );
    width: 50rem;
    height: 50rem;
    position: absolute;
    animation: rotate_border 4s linear infinite;
  }

  .border_animation::after {
    content: "";
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      var(--main-color)
    );
    width: 50rem;
    height: 50rem;
    position: absolute;
    animation: rotate_border 4s linear infinite;
    animation-delay: -2s;
  }

  .border_animation span {
    position: absolute;
    inset: 3px;
    border-radius: 9999px;
    background-color: var(--main-text);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes rotate_border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
